.anime-catalog {
  padding: 64px 200px;
}

.anime-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
}

.anime-list-title {
  font-size: 64px;
  margin: 32px 0;
}