@import 'Variables';

header {
    .header-back {
        padding: 16px 0;
        position: fixed;
        width: 100%;
        background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(30, 30, 30, 0.8));
        backdrop-filter: blur(20px);
        z-index: 20;
        outline: rgba(0, 0, 0, 0) solid 2px;
        transition: box-shadow .3s, outline .3s;
    }

    .header-align {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .scrolled {
        outline: rgba(238, 238, 238, 0.15) solid 2px;
        box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
    }

    .logo {
        width: 100px;
        cursor: pointer;
    }

    input[type='search'] {
        width: 512px;
        max-width: 48vw;
    }

    input[type='search']::placeholder {
        color: rgb(122, 122, 122);
    }

    search:hover input[type='search'] {
        background-color: rgba(96, 96, 96, 0.8);
    }

    search {
        position: relative;

        .search-icon {
            position: absolute;
            left: calc(50% - 52px);
            top: 24px;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    input[type='search']:not(:placeholder-shown) + .search-icon {
        opacity: 0;
    }
}
