@import 'Variables';

header {
    padding: 16px 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(30, 30, 30, 0.8));
    backdrop-filter: blur(20px);
    z-index: 10;

    .header-align {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1400px;
        max-width: 96%;
        margin: 0 auto;
    }

    .logo {
        width: 120px;
        cursor: pointer;
    }

    input[type='search'] {
        width: 512px;
        max-width: 48vw;
    }

    input[type='search']::placeholder {
        color: rgb(122, 122, 122);
    }

    .button {
        padding: 8px 32px;
    }

    .standard-input {
        background-color: rgba(238, 238, 238, 0.15);
        outline: none;
        border: none;
        height: 48px;
        border-radius: 48px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-family: $font-stack;
        transition:
            background-color 0.3s,
            color 0.3s;
        cursor: pointer;
    }

    .button:hover {
        background-color: rgba(238, 238, 238, 1);
        color: black;
    }

    search:hover input[type='search'] {
        background-color: rgba(96, 96, 96, 0.8);
    }

    search {
        position: relative;

        .search-icon {
            position: absolute;
            left: calc(50% - 52px);
            top: 24px;
            transform: translateY(-50%);
        }
    }

    input[type='search']:not(:placeholder-shown) + .search-icon {
        opacity: 0;
    }
}
