.anime-catalog {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.anime-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.anime-card {
  border-radius: 16px;
  width: 180px;
  height: 280px;
  cursor: pointer;
  color: white;
  overflow: hidden;
  position: relative;
  transition: background-color .3s;
}

.anime-wrapper {
  position: relative;
  width: fit-content;
}

.anime-wrapper img {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.anime-wrapper .anime-blurred {
  border-radius: 16px;
  filter: blur(16px);
  opacity: 0.5;
  width: 100%;
}

.anime-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.anime-card p {
  margin: 5px 0;
}

.anime-card h2, p {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .3s, transform .3s;
}

.anime-card:hover {
  background-color: rgba(0, 0, 0, 0.5);

  p, h2 {
    opacity: 1;
    transform: translateY(0);
  }
}